<section class="row-section">
	<div class="container">
		<div class="row">
			<h2 class="text-center">
				<a routerLink="/">
					<span>RSSA</span>
				</a>Created with
				<i class="fa fa-heart" style="color:red;"></i> from Simen Daehlin
			</h2>
		</div>
		<div class="col-xs-12">
			<div class="jumbotron vertical-center" id="search">
				<form id="searchForm">
					<div class="input-group input-group-lg">
						<input type="text" class="form-control" id="searchText" name="search" [(ngModel)]="searchQuery" ngModel name="search" #search="ngModel"
						 placeholder="Search for any move or series and press enter..." autofocus required [attr.disabled]="showSpinner == true ? false : null">
						<span class="input-group-btn">
							<input type="submit" id="searchbutton" (click)="searchMovies(searchQuery)" class="btn btn-primary" value="Go" [disabled]="!search.valid">
						</span>
					</div>
				</form>
			</div>
		</div>
		<loading-spinner *ngIf="showSpinner"></loading-spinner>
		<div class="row">
			<div class="col-sm-6 col-md-4 col-lg-4 mt-4" *ngFor="let movie of searchResults | slice:0:9;">

				<div class="card">
					<img class="card-img-top" [src]="posterError(movie.Poster)" alt="{{movie.Title}}">
					<div class="card-block text-nowrap">
						<h4 class="card-title mt-3">{{movie.Title}}</h4>
						<div class="meta">
							<a>{{movie.Year}}</a>
						</div>
						<div class="card-text">
							Tawshif is a web designer living in Bangladesh.
						</div>
					</div>
					<div class="card-footer match" *ngIf="movie.matched">
						<i class="fa fa-check-circle fa-inverse fa-2x float-left"></i>
						<button class="btn btn-primary btn-sm" (click)="storeMovie(movie.imdbID, movie.Type)">{{movie.Type | capitalize}} Info</button>
					</div>
					<div class="card-footer nomatch" *ngIf="!movie.matched">
						<div class="d-flex justify-content-around">
							<i class="fa fa-times-circle fa-inverse fa-2x"></i>
							<button class="btn btn-primary btn-sm" (click)="storeMovie(movie.imdbID, movie.Type)">{{movie.Type | capitalize}} Info</button>
							<button class="btn btn-success btn-sm">Send to Libary</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
