@import url("https://fonts.googleapis.com/css?family=Kumar+One");
html {
	height: 100%;
}
/*Common styles used on both pages*/

body {
	min-height: 100%;
	background-color: rgba(62, 69, 81, 1);
}

.row-section {
	background: url("../../../../assets/cinema-wallpaper.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}
.row-section h2 {
	float: left;
	width: 100%;
	color: #fff;
	margin-bottom: 30px;
	font-size: 14px;
}

.row-section h2 span {
	font-family: "Kumar One", cursive;
	display: block;
	font-size: 45px;
	text-transform: none;
	margin-bottom: 20px;
	margin-top: 30px;
}

.row-section h2 a {
	color: #d2abce;
}

.search-well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 5px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	background-color: rgba(44, 62, 80, 0.32);
}

a {
	text-decoration: none;
	color: #fff;
}

a:visited > span {
	text-decoration: none;
	color: #fff;
}

a:focus {
	outline: none;
}

.vertical-center {
	margin-top: 10vh;
	background-color: rgba(64, 71, 81, 0.5);
}

h3 {
	margin-bottom: 20px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.movie-list {
	height: 101vh;
	font-size: 15px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.fa.fa-arrow-circle-down {
	font-size: 8vw;
}

.arrow {
	position: absolute;
	bottom: 5vh;
	left: 45%;
	color: #fff;
}
