
<section class="row-section">
	<div class="container">
		<div class="row">
			<h2 class="text-center">
				<a routerLink="/">
					<span>RSSA</span>
				</a>Created with
				<i class="fa fa-heart" style="color:red;"></i> from Simen Daehlin
			</h2>
		</div>
		<div class="col-xs-12">
			<form id="searchForm">
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" id="searchText" name="search" [(ngModel)]="searchQuery" ngModel name="search" #search="ngModel"
					 placeholder="Search for any move or series and press enter..." autofocus required [attr.disabled]="showSpinner == true ? false : null">
					<span class="input-group-btn">
						<input type="submit" id="searchbutton" (click)="searchMovies(searchQuery)" class="btn btn-primary" value="Go" [disabled]="!search.valid">
					</span>
				</div>
			</form>
		</div>
		<div class="cinema-loading"></div>
		<loading-spinner *ngIf="showSpinner"></loading-spinner>
	</div>
	<div class="arrow" *ngIf="movieListReady">
		<i class="fa fa-arrow-circle-down animated bounceInDown" aria-hidden="true"></i>
	</div>
</section>
<div class="overlay">
<section class="movie-list" *ngFor="let movie of searchResults | slice:0:9;" [ngStyle]="{'background-image': 'url(' + movie.backdrop + ')'}">
	{{movie | json}}
</section>
</div>
