header {
  text-align: center;
  color: #fff;
  background: #2c3e50;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 90%;
  overflow: hidden;
  top: 0;
  left: 0;
}

header .container {
  padding-top: 40vh;
  padding-bottom: 50px;
}

header img {
  display: block;
  margin: 0 auto 20px;
}

header .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 700;
}

header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}


.content-wrapper {
  background-color: white;
  top: 90%;
  min-height: 12%;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.well {
  background-color: rgba(0, 0, 0, 0.5);
}

.row-section h2 {
  float: left;
  width: 100%;
  color: #212121;
  margin-bottom: 30px;
  font-size: 14px;
}

.row-section h2 span {
  font-family: 'Kumar One', cursive;
  display: block;
  font-size: 45px;
  text-transform: none;
  margin-bottom: 20px;
  margin-top: 30px;
}

.row-section h2 a {
  color: #212121;
}

a {
  text-decoration: none;
  color: #212121;
}

a:visited>span {
  text-decoration: none;
  color: #212121;
}

a:focus {
  outline: none;
}



section {
  padding: 100px 0;
  width: 100%;
}

section h2 {
  margin: 0;
  font-size: 3em;
}

hr.star-light,
hr.star-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  display: inline-block;
  position: relative;
  top: -.8em;
  padding: 0 .25em;
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #18bc9c;
}

hr.star-primary {
  border-color: #2c3e50;
}

hr.star-primary:after {
  color: #2c3e50;
  background-color: #fff;
}

section.primary h2 {
  color: #2c3e50;
}

section.success {
  background-color: #2980b9;
  color: #fff;
}

.half-size {
  width: 50%;
}

.arrow-wrap {
  position: absolute;
  z-index: 3;
  left: 50%;
  margin-left: -5em;
  background: #111;
  width: 10em;
  height: 10em;
  padding: 4em 2em;
  border-radius: 50%;
  font-size: 0.5em;
  display: block;
  box-shadow: 0px 0px 5px 0px #333;
  bottom: 6%;
}

.arrow {
  float: left;
  position: relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.arrow:after {
  content: '';
  position: absolute;
  top: -3.2em;
  left: -3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #111 transparent transparent transparent;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.arrow-wrap .arrow {
  -webkit-animation: arrows 2.8s 0.4s;
  animation: arrows 2.8s 0.4s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #284c79;
  color: rgb(136, 172, 217);
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 30, 0.8);
}

hr.star-light,
hr.star-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  display: inline-block;
  position: relative;
  top: -.8em;
  padding: 0 .25em;
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #18bc9c;
}

hr.star-primary {
  border-color: #2c3e50;
}

hr.star-primary:after {
  color: #2c3e50;
  background-color: #fff;
}

