<!-- <app-intro-header></app-intro-header>

<div class="content-wrapper">
<section class="primary" id="facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
		  <h2> {{movieInfo?.title}}</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">

                <div class="row">
                  <div class="col-md-3" *ngFor="let info of cast | slice:0:12;">
                    <div class="card">
                      <div class="header"></div>
                      <div class="avatar">
                        <img src="{{info.image}}" alt="{{info.name}} as {{info.character}}" onError="this.src='../../../assets/notfound.jpg'">
                      </div>
                      <div class="content">
                        <p>{{info.name | words : 3}}
                          <br> {{info.character | words : 2}}</p>
                        <p>
                          <a href="{{info.link}}" class="btn btn-info btn">Imdb Profile</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
    </div>
    </div>
    </section>

<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>The Plot</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="lead text-justify">{{movie?.Plot}}</p>
      </div>
    </div>
  </div>
</section>


<section class="primary">
  <div class="container">
    <div class="row">
<poster-components></poster-components>
    </div>
  </div>
</section>

  <footer class="container row-section">
          <h2 class="text-center">
            <a routerLink="/">
              <span>RSSA</span>
            </a>Created with
            <i class="fa fa-heart" style="color:red;"></i> from Simen Daehlin
          </h2>
  </footer> -->


<!-- <div [style.backgroundImage]="'url('+ movie.imageUrl +')'"></div> -->
  <loading-spinner *ngIf="showSpinner"></loading-spinner>
<article>
<div class="row">
	<h2 class="text-center" id="movietitle">{{Title}} ({{Year}})</h2>
	<div class="col-lg-4" id="poster">
		<figure>
			<!-- <img [src]="posterError(movie.Poster)" class="img-thumbnail rounded" id="movieposter" alt="{{Title}}"> -->
		</figure>
	</div>
	<div class="col-lg-8">
		<ul class="list-group">
			<li class="list-group-item">
				<strong>

					<i class="fa fa-file"></i> Genre:</strong> {{Genre}}</li>
				<li class="list-group-item">
					<strong>

						<i class="fa fa-calendar"></i> Released:</strong> {{Released}}</li>
					<li class="list-group-item">
						<strong>

							<i class="fa fa-clock-o"></i> Runtime:</strong> {{Runtime}}</li>
						<li class="list-group-item">
							<strong>

								<i class="fa fa-star"></i> Rated:</strong> {{Rated}}</li>
							<li class="list-group-item">
								<strong>

									<i class="fa fa-star"></i> IMDB Rating:</strong> {{imdbRating}}</li>
								<li class="list-group-item">
									<strong>

										<i class="fa fa-imdb"></i> IMDB ID:</strong> {{imdbID}}</li>
									<li class="list-group-item">
										<strong>

											<i class="fa fa-video-camera"></i> Director:</strong> {{Director}}</li>
										<li class="list-group-item">
											<strong>

												<i class="fa fa-pencil"></i> Writer:</strong> {{Writer}}</li>
											<li class="list-group-item">
												<strong>

													<i class="fa fa-users"></i> Actors:</strong> {{Actors}}</li>
												<li class="list-group-item">
													<strong>

														<i class="fa fa-globe"></i> Language:</strong> {{Language}}</li>
													<li class="list-group-item">
														<strong>

															<i class="fa fa-television"></i> Total Seasons:</strong> {{totalSeasons}}</li>
		</ul>
	</div>
</div>
<div class="card bg-light card-body mb-3" id="rowplot">
	<h3>Plot</h3>
	<p>{{Plot}}</p>
</div>
</article>
