<loading-spinner></loading-spinner>
<div *ngIf="inCollection; then inCollection else noCollection"></div>
<ng-template #inCollection>
<header id="page-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <h1 *ngIf="errorMsg">{{errorMsg}}</h1>
          <hr class="star-light">
          <img class="img-fluid half-size" src="{{artwork?.hdmovielogo[0].url}}" id="hdlogo">
          <h3 class="well">{{extrainfo?.description}}</h3>
        </div>
      </div>
    </div>
  </div>
</header>
</ng-template>
<ng-template #noCollection>
  <header id="page-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <h1 *ngIf="errorMsg">{{errorMsg}}</h1>
            <hr class="star-light">
            <img class="img-fluid half-size" src="{{artwork?.hdmovielogo[0].url}}" id="hdlogo">
            <h3 class="well">{{slashgenres}} {{type | capitalize}} Directed by: {{movie?.Director}}</h3>
          </div>
        </div>
      </div>
    </div>
  </header>
</ng-template>