<div class="col-xs-12">
	<form id="searchForm">
		<div class="input-group input-group-lg">
			<input type="text" class="form-control" id="searchText" name="search" [(ngModel)]="searchQuery" ngModel name="search" #search="ngModel"
			 placeholder="Search for any move or series and press enter..." autofocus required [attr.disabled]="showSpinner == true ? false : null">
			<span class="input-group-btn">
				<input type="submit" id="searchbutton" (click)="searchMovies(searchQuery)" class="btn btn-primary" value="Go" [disabled]="!search.valid">
			</span>
		</div>
	</form>
</div>
