@import url('https://fonts.googleapis.com/css?family=Kumar+One');
html {
  height: 100%;
}
/*Common styles used on both pages*/

body {
  min-height: 100%;
  background-color: rgba(62, 69, 81, 1)
}
.row-section h2 {
  float: left;
  width: 100%;
  color: #fff;
  margin-bottom: 30px;
  font-size: 14px;
}

.row-section h2 span {
  font-family: 'Kumar One', cursive;
  display: block;
  font-size: 45px;
  text-transform: none;
  margin-bottom: 20px;
  margin-top: 30px;
}

.row-section h2 a {
  color: #d2abce;
}

.search-well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 5px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: rgba(44, 62, 80, 0.32);
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited>span {
  text-decoration: none;
  color: #fff;
}

a:focus {
  outline: none;
}

.vertical-center {
  margin-top: 10vh;
  background-color: rgba(64, 71, 81, 0.5);
}


h3 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  border: none;
  margin-bottom: 30px;
}

.card-01 .card-body {
  position: relative;
  padding-top: 40px;
}

.card-01.height-fix {
  height: 455px;
  overflow: hidden;
}

.card-01.height-fix .card-img-top {
  width: auto!important;
}

.card-01.height-fix .card-img-overlay.nomatch {
  top: unset;
  color: #fff;
background: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0.75) 0%, rgba(183, 28, 28, 1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(183, 28, 28, 1)));
background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.75) 0%, rgba(183, 28, 28, 1) 100%);
background: -o-linear-gradient(270deg, rgba(0, 0, 0, 0.75) 0%, rgba(183, 28, 28, 1) 100%);
background: -ms-linear-gradient(270deg, rgba(0, 0, 0, 0.75) 0%, rgba(183, 28, 28, 1) 100%);
background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(183, 28, 28, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#b71c1c', GradientType=0);
}

.card-01.height-fix .card-img-overlay.match {
  top: unset;
  color: #fff;
background: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0.75) 0%, rgba(27, 94, 32, 1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(27, 94, 32, 1)));
background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.75) 0%, rgba(27, 94, 32, 1) 100%);
background: -o-linear-gradient(270deg, rgba(0, 0, 0, 0.75) 0%, rgba(27, 94, 32, 1) 100%);
background: -ms-linear-gradient(270deg, rgba(0, 0, 0, 0.75) 0%, rgba(27, 94, 32, 1) 100%);
background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(27, 94, 32, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1B5E20', GradientType=0);
}


.card-01.height-fix .fa {
  color: #fff;
  font-size: 22px;
  margin-right: 18px;
}
