<div *ngIf="searching">
  <p>Loading</p>
</div>
<section>
  <div class="container">
    <div class="row">
      <h2>Stylish Search Box</h2>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input class="search" [(ngModel)]="searchQuery" name="search" placeholder="Search for Movies">
          <span class="input-group-btn">
            <button (click)="searchMovies(searchQuery)" class="searchButton btn btn-success" type="button">Find Images</button>
          </span>
        </div>
      </div>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <span class="input-group-btn">
            <button (click)="ownedMovies()" class="btn btn-success" type="button">Find Own Collection</button>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4" *ngFor="let movie of movies | slice:0:9;">
        <div class="card card-01 height-fix">
          <img class="card-img-top" src="{{movie.Poster}}" alt="{{movie.Title}}" onError="this.src='http://www.armanettiaddison.com/images/noimagefound.png';">
          <div class="card-img-overlay">
            <h4 class="card-title">
              <strong>{{movie.Title}}</strong>
            </h4>
            <p class="card-text">
<a (click)="storeMovie(movie.imdbID)" href="#" routerLink="/info">


  <i class="fa fa-bookmark-o"></i>

</a>


              <a href="#"><i class="fa fa-heart-o"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
