<intro-header></intro-header>
<a class="arrow-wrap">
<span class="arrow" [scrollTo]="'#facts'"></span>
</a>

<div class="content-wrapper">
<section class="primary" id="facts">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Movie Facts</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <ul class="list-group">
          <li class="list-group-item active">Actors</li>
          <li class="list-group-item" *ngFor="let actor of actors">{{actor}}</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="list-group">
          <li class="list-group-item active">Actors</li>
          <li class="list-group-item">Languages: {{slashlang}}</li>
          <li class="list-group-item">Genres: {{slashgenres}}</li>
          <li class="list-group-item">Released: {{movie?.Released}}</li>
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="list-group">
          <li class="list-group-item active">Ratings</li>
          <li class="list-group-item" *ngFor="let rating of ratings">{{rating.Source}}: {{rating.Value}}</li>
          <li class="list-group-item">IMDB Rating: {{movie?.imdbRating}}</li>
        </ul>
      </div>

    </div>
  </div>
</section>

 <!-- The Plot -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>The Plot</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="lead text-justify">{{movie?.Plot}}</p>
      </div>
    </div>
  </div>
</section>
  <!-- End The plot -->


<section class="primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Posters</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 offset-sm-1" *ngFor="let post of posters  | slice:0:3;">
        <img class="card-img-top" src="{{post.url}}" alt="{{movie?.title}}">
      </div>
    </div>
  </div>
</section>

<!-- The Plot -->
<section class="success" id="about">
  <div class="container">
      <div class="col-lg-12">
         <casting-component></casting-component>
      </div>
  </div>
</section>
<!-- End The plot -->

  <footer class="container row-section">
          <h2 class="text-center">
            <a routerLink="/">
              <span>RSSA</span>
            </a>Created with
            <i class="fa fa-heart" style="color:red;"></i> from Simen Daehlin
          </h2>
  </footer>