<div *ngIf="searching">
  <p>Loading</p>
</div>
              <section class="row-section">
                <div class="container">
                  <div class="row">
                    <h2 class="text-center">
                      <span>Dragable Listing</span>Created with
                      <i class="fa fa-heart"></i> from
                      <a href="http://grafreez.com"> Grafreez.com</a>
                    </h2>
                  </div>
                      <div class="col-xs-12">
                        <div class="jumbotron vertical-center" id="search">
                          <form id="searchForm">
                            <div class="input-group input-group-lg">
                              <input type="text" class="form-control" id="searchText" name="search" [(ngModel)]="searchQuery" placeholder="Search for any move or series and press enter..."
                                autofocus required>
                              <span class="input-group-btn">
                                <input type="submit" id="searchbutton" (click)="searchMovies(searchQuery)" class="btn btn-primary" value="Go">
                              </span>
                            </div>
                          </form>
                        </div>
                      </div>
                  <div class="col-md-10 offset-md-1 row-block">
                    <h1 *ngIf="statusMsg">{{statusMsg}}</h1>
                    <ul id="sortable" *ngFor="let movie of movies | slice:0:9;">
                      <p>
                        <div class="media">
                          <div class="media-left align-self-center">
                            <img class="rounded-circle" src="{{movie.Poster}}">
                          </div>
                          <div class="media-body">
                            <h4>{{movie.Title}}</h4>
                              <p>Release Year: {{movie.Year}}</p>
                          </div>
                          <div class="media-right align-self-center">
                            <a (click)="storeMovie(movie.imdbID, movie.Type)" href="#" class="btn btn-default" routerLink="/info">{{movie.Type | capitalize}} Details</a>
                          </div>
                        </div>
                      </ul>
                  </div>
                </div>
              </section>