  html {
  height: 100%;
}
/*Common styles used on both pages*/

body {
  min-height: 100%;
  background-color: rgba(62, 69, 81, 1)
}
.matched{
  background: green;
}


.search-well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 5px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: rgba(44, 62, 80, 0.32);
}

a {
  text-decoration: none;
  color: #fff;
}
a:visited > span {
  text-decoration: none;
  color: #fff;
}
a:focus {
      outline: none;
}
.vertical-center {
  margin-top: 10vh;
background-color: rgba(64, 71, 81, 0.5);
}

@import url('https://fonts.googleapis.com/css?family=Kumar+One');

.row-section h2 {
  float: left;
  width: 100%;
  color: #fff;
  margin-bottom: 30px;
  font-size: 14px;
}

.row-section h2 span {
  font-family: 'Kumar One', cursive;
  display: block;
  font-size: 45px;
  text-transform: none;
  margin-bottom: 20px;
  margin-top: 30px;
}

.row-section h2 a {
  color: #d2abce;
}

.row-section .row-block {
  background: #fff;
  padding: 20px;
  margin-bottom: 50px;
}

.row-section .row-block ul {
  margin: 0;
  padding: 0;
}

.row-section .row-block ul li {
  list-style: none;
  margin-bottom: 20px;
}

.row-section .row-block ul li:last-child {
  margin-bottom: 0;
}

.row-section .row-block ul li:hover {
  cursor: grabbing;
}

.row-section .row-block .media {
  border: 1px solid #d5dbdd;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.04);
}

.row-section .media .media-left img {
  width: 75px;
}

.row-section .media .media-body p {
  padding: 0 15px;
  font-size: 14px;
}

.row-section .media .media-body h4 {
  color: #6b456a;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  padding-left: 14px;
  margin-top: 12px;
}

.btn-default {
  background: #6B456A;
  color: #fff;
  border-radius: 30px;
  border: none;
  font-size: 16px;
}

