<div *ngIf="searching">
  <p>Loading</p>
</div>
<section class="row-section">
  <div class="container">
    <div class="row">
      <h2 class="text-center">
        <a routerLink="/">
          <span>RSSA</span>
        </a>Created with
        <i class="fa fa-heart" style="color:red;"></i> from Simen Daehlin
      </h2>
    </div>
    <div class="col-xs-12">
      <div class="jumbotron vertical-center" id="search">
        <form id="searchForm">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" id="searchText" name="search" [(ngModel)]="searchQuery" placeholder="Search for any move or series and press enter..."
              autofocus required>
            <span class="input-group-btn">
              <input type="submit" id="searchbutton" (click)="searchMovies(searchQuery); $event.stopPropagation();" class="btn btn-primary"
                value="Go">
            </span>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-10 offset-md-1" id="searchresults">
      <h1 *ngIf="statusMsg">{{statusMsg}}</h1>
<ul id="sortable" *ngFor="let movie of omdbMovies | slice:0:9;">
<div class="media" [ngClass]="{'match': movie.matched, 'noMatch': !movie.matched}">
            <div class="media-left align-self-center">
              <img class="rounded-circle" src="{{movie.Poster}}" onError="this.src='../../../assets/notfound.jpg'">
            </div>
            <div class="media-body">
              <h4>{{movie.Title}}</h4>
              <p>Release Year: {{movie.Year}}</p>
            </div>
            <div class="media-right align-self-center">
              <a (click)="storeMovie(movie.imdbID, movie.Type)" href="#" class="btn btn-default" routerLink="/info">{{movie.Type | capitalize}} Details</a>
            </div>
          </div>
      </ul>
    </div>
  </div>
</section>
