<!-- <div class="row">
  <div class="col-md-4">
    <div class="card card-01 height-fix">
      <img class="card-img-top" src="{{movie?.Poster}}" alt="{{movie?.Title}}">
      <div class="card-img-overlay">
        <h4 class="card-title">
          <strong>{{ movie?.Title}}</strong>
        </h4>
        <p class="card-text">
            <i class="fa fa-bookmark-o"></i>
            <i class="fa fa-heart-o"></i>
        </p>
      </div>
    </div>
  </div>
</div> -->
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="pb-4 text-secondary">Features from the future</h2>
        </div>
      </div>
      <div class="row">
        <div class="align-self-center text-md-right text-center col-md-4">
          <h3 class="text-primary">Responsive design</h3>
          <p class="mb-5">Based on fluid design principles.
            <br>Works with any screen resolution</p>
          <h3 class="text-primary">Customized settings</h3>
          <p class="mb-5">Choose settings depending on the criteria you value the most</p>
          <h3 class="text-primary">Connect</h3>
          <p class="">In-app chat panel 24/7 active.
            <br>The support you need, right there.</p>
        </div>
        <div class="my-3 col-md-4">
          <img class="img-fluid d-block ml-1 mx-auto" src="{{movie?.Poster}}"> </div>
        <div class="align-self-center text-md-left text-center col-md-4">
          <h3 class="text-primary">Battery-friendly</h3>
          <p class="mb-5">Non consuming background operation for longer mobile life</p>
          <h3 class="text-primary">Multilayers</h3>
          <p class="mb-5">Work simultaneously on different panels with the switcher</p>
          <h3 class="text-primary">Share the love</h3>
          <p>Help us spreading the word.
            <br>Tell your friends with just one-click</p>
        </div>
      </div>
    </div>
  </div>