/*Importing Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*Media Queries for responsive fonts*/

@media all and (max-width: 1200px) {
  body {
    font-size: 1.33vw;
  }
}

@media all and (max-width: 1000px) {
  body {
    font-size: 1.6em;
  }
}

@media all and (max-width: 500px) {
  body {
    font-size: 3.2vw;
  }
}

html {
  height: 100%;
  font-size: 1rem;

}


/*Common styles used on both pages*/

body {
  min-height: 100%;
  float: left;
  width: 100%;
  background: #2c3e50;
}

h1 {
  font-family: "Open Sans";
  font-size: 40px;
}

h2 {
  font-family: "Open Sans";
  font-size: 32px;
}

h3 {
  font-family: "Open Sans";
  font-size: 28px;
}

h4 {
  font-family: "Open Sans";
  font-size: 24px
}

h5 {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
}

p li ul {
  font-family: "Open Sans";
  /* Fallback */
  font-size: 16px;
  /* For responsiveness */
  font-size: 2vmin;
}
hr.star-light,
hr.star-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  display: inline-block;
  position: relative;
  top: -.8em;
  padding: 0 .25em;
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #18bc9c;
}

hr.star-primary {
  border-color: #2c3e50;
}

hr.star-primary:after {
  color: #2c3e50;
  background-color: #fff;
}
