/*Importing Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*Media Queries for responsive fonts*/

@media all and (max-width: 1200px) {
  body {
    font-size: 1.33vw;
  }
}

@media all and (max-width: 1000px) {
  body {
    font-size: 1.6em;
  }
}

@media all and (max-width: 500px) {
  body {
    font-size: 3.2vw;
  }
}

html {
  height: 100%;
}


/*Common styles used on both pages*/

body {
  min-height: 100%;
  background-color: rgba(62, 69, 81, 1)
}

h1 {
  font-family: "Open Sans";
  font-size: 40px;
}

h2 {
  font-family: "Open Sans";
  font-size: 32px;
}

h3 {
  font-family: "Open Sans";
  font-size: 28px;
}

h4 {
  font-family: "Open Sans";
  font-size: 24px
}

h5 {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
}

p li ul {
  font-family: "Open Sans";
  /* Fallback */
  font-size: 16px;
  /* For responsiveness */
  font-size: 2vmin;
}